<style type="text/css">
 
  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
 @media screen and (max-width: 750px) {
.template-404 svg {
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
    width: 11.4rem;
    margin-bottom: 10px !important;
}
.template-404 {
  margin-top: 60px!important;
margin-bottom: 60px!important;
}
   
.template-404 p {
        max-width: 100%!important;
    margin-left: auto;
    margin-right: auto;
    color: #716F6A;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px!important;
    font-style: normal;
    font-weight: 480;
    margin-bottom: 40px!important;
    line-height: 1.4!important;
}

  }
.title_404 {
  font-family: "Open Sans", sans-serif;
font-size: 1.6575rem;
font-weight: 400;
margin: 0px;
line-height: 2.3205rem;
letter-spacing: 0.08em;
text-align: center;

text-transform: uppercase;
margin-bottom: 0.5rem;
margin-top: 0px!important;
font-variation-settings: 'wdth' 85;
}

.template-404  p{
max-width: 20.5rem;
margin-left: auto;
margin-right: auto;
  color: #716F6A;
text-align: center;
font-family: "Open Sans", sans-serif;
font-size: 0.9093rem;
font-style: normal;
font-weight: 480;
margin-bottom: 4.5rem;
line-height: 1.273rem; /* 25.461px */
font-variation-settings: 'wdth' 85;
}



  .template-404 svg {
height: auto!important;
  margin-left: auto;
margin-right: auto;
    width: 11.4rem;
margin-bottom: 4.5rem;
  }
</style>
<div class="404_div">
<div class="template-404 page-width page-margin center">
<svg xmlns="http://www.w3.org/2000/svg" width="230" height="162" viewBox="0 0 230 162" fill="none">
<path d="M56.1404 106.153H44.7228V125.726H37.861V106.153H2.93336V100.359L37.3548 42.9903H44.7228V99.9095H56.1404V106.153ZM37.861 99.9095V66.0505C37.861 64.4756 37.861 63.0508 37.861 61.7759C37.8985 60.4635 37.936 59.2262 37.9735 58.0638C38.0485 56.8639 38.1048 55.7203 38.1423 54.6329C38.1797 53.5455 38.2172 52.4956 38.2547 51.4832H37.9173C37.1299 53.2455 36.3049 54.9703 35.4425 56.6577C34.6176 58.3075 33.699 59.9761 32.6866 61.6634L9.79516 99.9095H37.861Z" fill="#716F6A"/>
<path d="M227.457 105.427H216.039V125H209.177V105.427H174.25V99.6339L208.671 42.2647H216.039V99.1839H227.457V105.427ZM209.177 99.1839V65.3249C209.177 63.75 209.177 62.3252 209.177 61.0503C209.215 59.7379 209.252 58.5006 209.29 57.3382C209.365 56.1383 209.421 54.9947 209.459 53.9073C209.496 52.8199 209.534 51.77 209.571 50.7576H209.234C208.446 52.5199 207.621 54.2448 206.759 55.9321C205.934 57.5819 205.015 59.2505 204.003 60.9378L181.112 99.1839H209.177Z" fill="#716F6A"/>
<g clip-path="url(#clip0_0_3)">
<path d="M111.121 47C89.6964 49.2296 73 67.5798 73 89.8761C73 113.677 92.0343 132.982 115.5 132.982C138.966 132.982 158 113.677 158 89.8761C158 81.63 155.715 73.9325 151.754 67.3852C151.772 67.3852 111.121 47 111.121 47Z" fill="#EB2427"/>
<path d="M107.176 111.447C109.372 111.447 111.153 109.641 111.153 107.413C111.153 105.184 109.372 103.378 107.176 103.378C104.979 103.378 103.198 105.184 103.198 107.413C103.198 109.641 104.979 111.447 107.176 111.447Z" fill="#941114"/>
<path d="M114.403 77.9847C114.106 77.4362 113.722 76.9407 113.286 76.516C112.222 75.4897 110.791 74.5872 109.256 74.5872H100.847C100.847 74.5872 100.847 74.9411 100.847 74.9588C101.231 75.0296 101.597 75.1181 101.946 75.2419C103.237 75.7374 104.266 76.746 104.947 77.967L118.416 102.652C118.416 102.652 119.846 101.219 121.329 99.7148C123.213 97.8037 123.615 94.8662 122.341 92.5127L114.42 77.967L114.403 77.9847Z" fill="#941114"/>
<path d="M131.342 78.2679C130.277 76.3391 128.393 74.8881 126.387 74.658C126.195 74.6404 124.188 74.605 124.188 74.605H119.6C119.6 74.605 119.6 74.9412 119.6 74.9766C119.984 75.0474 120.35 75.1358 120.699 75.2597C121.99 75.7552 123.02 76.7638 123.7 77.9848C123.7 77.9848 123.7 77.9848 123.717 77.9848L128.847 87.2749C131.987 85.4877 133.104 81.4708 131.342 78.2856V78.2679Z" fill="#941114"/>
</g>
<defs>
<clipPath id="clip0_0_3">
<rect width="85" height="86" fill="white" transform="translate(73 47)"/>
</clipPath>
</defs>
</svg>
  
  <h1 class="title_404">
  THIS IS AKWARD
  </h1>
  <p>
It seems like you have browsed to the unknown and ended up somewhere “MORE THAN ” our website.

  </p>
  <a href="/" class="button">
    VISIT HOME PAGE
  </a>
</div>
</div>
