  <style>

@media (max-width: 768px) {
  .popup-content-Clinical {
    background: #F7F6F5;
    max-width: 90vw !important;

}

#closePopup-Clinical {
    position: absolute;
    top: 15px!important;
    right: 15px!important;
}


.popup-content-Clinical h2 {
 
    font-size: 24px !important;
}

.result-group {
    padding-left: 0px !important;
}

.left {
    font-family: "Open Sans";
    font-size: 14px !important;
}

.Clinical .popup-content-Clinical .result-group .right {
    width: 100% !important;
    min-width: 100% !important;
}

.Clinical .popup-content-Clinical .result-group .left {
    margin-bottom: 15px !important;
margin-top: 30px!important;
}

.Clinical .popup-content-Clinical .result-group .right {
    font-size: 14px !important;
    margin-bottom: 10px !important;
    display: block !important;
}


.Clinical .popup-content-Clinical .result-group {
    display: block !important;
}
}
        /* Basic styling for popup */
      .Clinical   .popup {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }

       .Clinical  .popup-content {
       
        }

     .Clinical    .popup-content-Clinical h2, .popup-content-Clinical h3 {
         
        }

    .Clinical     .popup-content h2 {
 
        }

       .Clinical  .popup-content-Clinical h3 {
   
        }

      .Clinical   .popup-content-Clinical .result-group {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

     .Clinical    .popup-content-Clinical .result-group .left {
            font-weight: bold;
        }

      .Clinical   .popup-content-Clinical .result-group .right {
            text-align: right;
        }

    .popup-content-Clinical h3{
color: #666460;
font-family: "Open Sans";
font-size: 1.130rem;
font-style: normal;
font-weight: 347;
line-height: 1.356rem;
letter-spacing: 0.452rem;
font-variation-settings: 'wdth' 80;
    }



    .popup-content-Clinical h2{
color: #666460;
font-family: "Open Sans";
font-variation-settings: 'wdth' 80;
font-size: 2.674rem;
font-style: normal;
font-weight: 450;
line-height: 3.209rem;
letter-spacing: 0.401rem;
text-transform: uppercase;


      
    }

.popup-content-Clinical {
    max-height: 90vh;
    margin-top: 5vh;
    overflow: auto;
}

    .left{
      font-family: "Open Sans";
font-size: 1rem;
font-weight: 700;
      padding-right: 2rem;
line-height: 1.4;
letter-spacing: 0.15em;
text-align: left;
font-variation-settings: 'wdth' 80;

    }

    .popup-content-Clinical {
    
    background: #F7F6F5;
    max-width: 43rem;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 3rem;
    }

.popup-content-Clinical h2 {
    margin: 0px !important;
    margin-bottom: 2rem !important;
    text-align: center !important;
}



.popup-content-Clinical h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.Clinical .popup-content-Clinical .result-group .right {
    width: 20rem;
min-width: 20rem;
}


.Clinical .popup-content-Clinical .result-group .right>div {
    display: flex;
justify-content: space-between;
    width: 100%;
margin-bottom: 1rem;
}

.popup-content-Clinical .percentage {
    color: #666460;
    text-align: right;
    font-family: "Open Sans";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.92rem;
    letter-spacing: -0.032rem;
    text-transform: uppercase;
    width: 3.8rem;
    display: inline-block;
    text-align: center;
    padding-right: 2rem;
}


   .popup-content-Clinical .description {
        width: calc(100% - 3.8rem - 2rem);
text-align: left!important;
    display: inline-block;
    }

    .result-group {
    
    padding-left: 2.5rem;
    }
    .popup-content-Clinical   .percentage {
color: #666460;
text-align: right;
font-family: "Open Sans";
font-size: 1.6rem;
font-style: normal;
font-weight: 300;
line-height: 1.92rem; /* 38.4px */
letter-spacing: -0.032rem;
text-transform: uppercase;
    }

.popup-content-Clinical {
    position: relative;
}


#closePopup-Clinical {
    position: absolute;
    top: 0.5rem;
    right: 3rem;
}
   .popup-content-Clinical   .close-button {
      color: #666460;
font-family: "Open Sans";
font-size: 0.9rem;
font-style: normal;
font-weight: 700;
line-height: 1.26rem; /* 25.2px */
letter-spacing: 0.081rem;
text-transform: uppercase;

    }

    .INFO_tt{
    color: #666460;
    font-family: "Open Sans";
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 347;
    line-height: 1.04rem;
    margin-top: 5rem;
    }

        .hidden {
            display: none;
        }

        .close-button {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close-button:hover,
        .close-button:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>

  <div id="popupSection-Clinical" class="popup Clinical hidden">
    <div class="popup-content-Clinical">
        <span class="close-button" id="closePopup-Clinical">close</span>
        <!-- Content from Image -->
        <h2>CLINICAL RESULTS</h2>

        <h3>WEEK 1</h3>
        <div class="result-group">
            <div class="left">SKIN NOURISHMENT</div>
            <div class="right">
                <div>
                    <span class="percentage">92%</span>
                    <span class="description">Agree skin looks and feels nourished</span>
                </div>
            </div>
        </div>
        <div class="result-group">
            <div class="left">HYDRATION & MOISTURIZATION</div>
            <div class="right">
                <div>
                    <span class="percentage">85%</span>
                    <span class="description">Agree skin hydration levels improve</span>
                </div>
   <div>
                    <span class="percentage">85%</span>
                    <span class="description">Agree skin moisture is effectively maintained</span>
                </div>
            </div>
        </div>
        
        <div class="result-group">
            <div class="left">CALMING & ANTI-REDNESS</div>
            <div class="right">
              <div>
                    <span class="percentage">85%</span>
                    <span class="description">Agree skin moisture is effectively maintained</span>
                </div>
            </div>
        </div>

        <h3>WEEK 4</h3>
        <div class="result-group">
            <div class="left">TONE & TEXTURE</div>
            <div class="right">
                <div>
                    <span class="percentage">92%</span>
                    <span class="description">Agree skin texture is enhanced</span>
                </div>
 <div>
                    <span class="percentage">96%</span>
                    <span class="description">Agree skin looks softer</span>
                </div>
   <div>
                    <span class="percentage">88%</span>
                    <span class="description">Agree skin tone looks balanced</span>
                </div>
            </div>
        </div>
       
        
        <div class="result-group">
            <div class="left">FIRMNESS & ELASTICITY</div>
            <div class="right">
                <div>
                    <span class="percentage">85%</span>
                    <span class="description">Agree skin looks firmer</span>
                </div>
    <div>
                    <span class="percentage">85%</span>
                    <span class="description">Agree skin elasticity increases</span>
                </div>
            </div>
        </div>
        
        <div class="result-group">
            <div class="left">ANTI-AGING</div>
            <div class="right">
                <div>
                    <span class="percentage">81%</span>
                    <span class="description">Agree fine lines appear reduced</span>
                </div>
   <div>
                    <span class="percentage">85%</span>
                    <span class="description">Agree skin looks younger</span>
                </div>
            </div>
        </div>
        
        <div class="result-group">
            <div class="left">CALMING & ANTI-REDNESS</div>
            <div class="right">
                <div>
                    <span class="percentage">85%</span>
                    <span class="description">Agree the product significantly enhances a radiant-looking complexion</span>
                </div>
   <div>
                    <span class="percentage">88%</span>
                    <span class="description">Agree the product visibly enhances the texture of their skin</span>
                </div>
            </div>
        </div>
      
        <div class="result-group">
            <div class="left">RADIANCE & RENEWAL</div>
            <div class="right">
                <div>
                    <span class="percentage">96%</span>
                    <span class="description">Agree skin looks healthier</span>
                </div>
                 <div>
                    <span class="percentage">92%</span>
                    <span class="description">Agree skin looks revitalized</span>
                </div>
  <div>
                    <span class="percentage">92%</span>
                    <span class="description">Agree complexion looks balanced</span>
                </div>
            </div>
        </div>
        
       
        <p class="INFO_tt">Consumer perceptions of 26 participants aged 35 to 63 were assessed after 1 and 4 weeks of twice-daily application.</p>
    </div>
</div>


    <script>
   document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('a[href="#open_popup"]').forEach(function(element) {
        element.addEventListener('click', function(event) {

            event.preventDefault();
            var popupSection = document.querySelector('#popupSection-Clinical');
            if (popupSection) {
                popupSection.classList.remove('hidden');
                popupSection.style.display = 'block';
            }
        });
    });

    var closeButton = document.querySelector('#closePopup-Clinical');
    if (closeButton) {
        closeButton.addEventListener('click', function() {
            var popupSection = document.querySelector('#popupSection-Clinical');
            if (popupSection) {
                popupSection.classList.add('hidden');
                popupSection.style.display = 'none';
            }
        });
    }
});

    </script>


{% schema %}
{
  "name": "Popup Clinical",
  "settings": [
    {
      "type": "text",
      "id": "trigger_text",
      "label": "Trigger Text",
      "default": "Open Popup"
    }
  ],
  "presets": [
    {
      "name": "Popup Clinical",
      "category": "Custom"
    }
  ]
}
{% endschema %}

