<section id="popup-section" style="display: none;">
  <div class="popup-overlay" onclick="closePopup()">
    <div class="popup-content-message" onclick="event.stopPropagation();">
      <button class="popup-close" onclick="closePopup()">X</button>
      <div class="popup-header">
        <img src="https://cdn.shopify.com/s/files/1/0691/9959/3720/files/Group_1000004615.jpg?v=1726471896" alt="Popup Image" />
<div class="content_popup">
        <p class="product-title hide_on_click">Yoé Ympossible Cream has been honored with</p>

        <p class="award-title hide_on_click">THE 2024 OPRAH DAILY BEAUTY O-WARD</p>
        <p class="celebrate-text hide_on_click">To celebrate, we're offering a Discovery Duo as a gift with any full-size product purchase.</p>

        <img src="https://cdn.shopify.com/s/files/1/0691/9959/3720/files/YOE_30ml_YCL.png?v=1726472285" alt="Popup Image" class="icon_img hide_on_click" />
        <button id="popup-close-btn" onclick="closePopup02()" class=" hide_on_click">UNLOCK YOUR GIFT!</button>

<div class="klaviyo-form-TLVFHA" style="display: none;"></div>

      </div>
 </div>
    </div>
  </div>
</section>

<style>

.klaviyo-form .go1267705928:not([data-gtm-form-interact-id="0"])  .kl-private-reset-css-Xuajs1 span{
  color: #716F6A !important;
  text-align: center !important;
  font-family: Open Sans !important;
  text-transform: uppercase !important;
  font-variation-settings: "wdth" 80 !important;
  font-size: 1.424rem !important;
  font-weight: 600 !important;
  line-height: 1.2 !important;
}

#rich-text-016JB91TTR00000000003VK3HE h1, .klaviyo-form  .go1267705928[data-gtm-form-interact-id="0"] #rich-text-129600802 span, #rich-text-129600798 span, .go3176171171 span, #rich-text-016JB91TTR00000000003VK3HE span{
  color: #716F6A !important;
  text-align: center !important;
  font-family: Open Sans !important;
  text-transform: uppercase !important;
  font-variation-settings: "wdth" 80 !important;
  font-size: 1.424rem !important;
  font-weight: 600 !important;
  line-height: 1.2 !important;
}


.go3176171171 p, .klaviyo-form  .go1267705928[data-gtm-form-interact-id="0"] #rich-text-129600803 span, #rich-text-016JB91TTR00000000003VK3HF span{
    color: #716F6A !important;
    text-align: center !important;
    font-family: Open Sans !important;
    font-size: 0.9rem !important;
    font-weight: 300 !important;
    line-height: 1.5 !important;
    margin: 1rem 0!important;
}

.klaviyo-form button {
  color: #FFF !important;
width: 100%!important;
min-width: 100%!important;
border-radius: 0px!important;
  font-variation-settings: "wdth" 80 !important;
  text-align: center !important;
  font-family: "Open Sans" !important;
  font-size: 0.78rem !important;
  font-weight: 620 !important;
  line-height: 1.21 !important;
  letter-spacing: 0.0702rem !important;
  text-transform: uppercase !important;
  width: 16.772rem !important;
  height: 2.975rem !important;
  background: #BD1E18 !important;
  border: none !important;
  cursor: pointer !important;
}

 .klaviyo-form  form>.needsclick { margin-left: auto;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0px;
    max-width: 80%;
              }

.klaviyo-form input {
    outline: none !important;
    border-radius: 0px;
    padding: 0px 0px 0px 0px !important;
  border-radius: 0px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #333 !important;
  color: #666460 !important;
  font-family: "Open Sans" !important;
  font-size: 1rem !important;
  font-style: normal !important;
  font-weight: 480 !important;
  line-height: 140% !important; /* 25.2px */
}


  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

.popup-header img.icon_img {
    width: 6rem;
    display: block;
    margin-left: auto!important;
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: auto;
    margin-right: auto!important;
}

  .popup-content-message {
    background-color: #fff;
    padding: 0rem;
    max-width: 30rem;
    text-align: center;
    border-radius: 0rem;
    position: relative;
  }

.content_popup {
  padding: 1.75rem;
}
  .popup-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  .popup-header img {
    max-width: 100%;
    height: auto;
    margin: 0rem 0;
  }
  .award-title {
    color: #716F6A;
    text-align: center;
      font-family: Open Sans;
    text-transform: uppercase;
    font-variation-settings: "wdth" 80 !important;
    font-size: 1.424rem;
    font-weight: 600;
    line-height: 1.2; /* 34.19px */
  }
.award-title {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

.celebrate-text {
    max-width: 16.2rem;
    font-weight: 350;
    font-variation-settings: 'wdth' 85 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

  .product-title {
    color: #716F6A;
    text-align: center;
       font-family: Open Sans;
    font-size: 0.842rem;
    font-weight: 300;
    font-variation-settings: 'wdth' 78;
    line-height: 1.344; /* 26.938px */
    text-transform: uppercase;
    margin-bottom: 0rem;
  }
  .celebrate-text {
    color: #716F6A;
    text-align: center;
     font-family: Open Sans;
    font-size: 0.842rem;
    font-weight: 300;
    line-height: 1.6; /* 26.938px */
    margin: 1rem 0;
  }
  #popup-close-btn {
    color: #FFF;
    font-variation-settings: "wdth" 80;
    text-align: center;
    font-family: "Open Sans";
    font-size: 0.78rem;
    font-weight: 620;
    line-height: 1.21; /* 18.876px */
    letter-spacing: 0.0702rem;
    text-transform: uppercase;
    width: 16.772rem;
    height: 2.975rem;
    background: #BD1E18;
    border: none;
    cursor: pointer;
  }


@media (max-width: 768px) {
  .product-title {
    color: #716F6A;
    text-align: center;
    font-family: Open Sans;
    font-size: 13px;
}

.award-title {
    margin-top: 6px !important;
font-size: 19px!important;
}


.celebrate-text {
    color: #716F6A;
    text-align: center;
    font-family: Open Sans;
    font-size: 13px !important;
}

.celebrate-text {
    max-width: 25rem!important;
}

#popup-close-btn {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 13px!important;
    font-weight: 620;
    line-height: 1.21;
    letter-spacing: 0.0702rem;
    text-transform: uppercase;
    width: 16.772rem;
    height: 40px!important;
}

.popup-header img.icon_img {
    width: 6rem;
    display: block;
    margin-left: auto !important;
    margin-top: 35px !important;
    margin-bottom: 30px !important;
}
}
</style>

<script>
function closePopup() {
    document.getElementById('popup-section').style.display = 'none';
    setPopupCookie();
}

function closePopup02() {
    const elements = document.querySelectorAll('.hide_on_click');
    elements.forEach(element => {
        element.style.setProperty('display', 'none', 'important');
    });

    const klaviyoForm = document.querySelectorAll('.klaviyo-form-TLVFHA');
    klaviyoForm.forEach(form => {
        form.style.setProperty('display', 'block', 'important');
    });

    window._klOnsite = window._klOnsite || [];
    window._klOnsite.push(['openForm', 'TLVFHA']);
}

function setPopupCookie() {
    var date = new Date();
    date.setTime(date.getTime() + (3 * 60 * 60 * 1000));
    var popupShownCount = getPopupShownCount() + 1;
    document.cookie = "popup_shown_count=" + popupShownCount + "; expires=" + date.toUTCString() + "; path=/";
}

function getPopupShownCount() {
    var popupCookie = document.cookie.split('; ').find(row => row.startsWith('popup_shown_count='));
    return popupCookie ? parseInt(popupCookie.split('=')[1]) : 0;
}

function resetPopupCountEvery12Hours() {
    var lastReset = document.cookie.split('; ').find(row => row.startsWith('popup_reset_time='));
    var currentTime = new Date().getTime();
    if (!lastReset || currentTime - parseInt(lastReset.split('=')[1]) > 12 * 60 * 60 * 1000) {
        document.cookie = "popup_shown_count=0; path=/";
        document.cookie = "popup_reset_time=" + currentTime + "; path=/";
    }
}

function checkPopupCookie() {
    resetPopupCountEvery12Hours();
    var popupShownCount = getPopupShownCount();
    if (popupShownCount < 1) {
        document.getElementById('popup-section').style.display = 'flex';
    }
}

document.addEventListener('DOMContentLoaded', function() {
    checkPopupCookie();
});

</script>
