{% schema %}
{
  "name": "Clinical Results Section",
  "class": "clinical-results-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Left Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "CLINICAL RESULTS"
    }
  ],
  "blocks": [
    {
      "type": "result",
      "name": "Result",
      "settings": [
        {
          "type": "text",
          "id": "percentage",
          "label": "Percentage",
          "default": "100%"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "AGREE SKIN FEELS SMOOTHER"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Clinical Results Section",
      "category": "Custom Sections",
      "blocks": [
        { "type": "result" },
        { "type": "result" },
        { "type": "result" }
      ]
    }
  ]
}
{% endschema %}

<div class="padding-right-left" >
<div class="clinical-results">
  <div class="results-container">
    <div class="image-section">
      <img src="{{ section.settings.left_image | img_url: 'master' }}" alt="Clinical Results">
    </div>
    <div class="results-section">
      <h2>{{ section.settings.heading }}</h2>
      <div class="results-grid">
        {% for block in section.blocks %}
          <div class="result">
            <span class="percentage">{{ block.settings.percentage }}</span>
            <p>{{ block.settings.description }}</p>
          </div>
        {% endfor %}
      </div>
      <p class="disclaimer">* Consumer perceptions of 26 participants aged 35 to 63 were assessed after 1 and 4 weeks of twice-daily application.</p>
    </div>
  </div>
</div>
</div>

<style>
  .clinical-results {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  .results-container {
    display: flex;
    max-width: 100%;
        background: #fff;
    gap: 0px;
  }
  .image-section img {
    width: 100%;
   
  }

  .image-section {
    width: 50%;
    display: flex;
  }
  .results-section {
       width: 50%;
    text-align: center;
padding: 3.5rem 5.5rem 1rem 5.5rem;

  }
  .results-section h2 {
margin-bottom: 4rem;
font-size: 2.75rem;
font-weight: 450;
line-height: 3.33rem;
letter-spacing: 0.09em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
font-variation-settings: 'wdth' 80;
  }
  .results-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 1rem;
  }


  .result p {
        margin-top: 0.9rem;
    text-transform: uppercase;
    font-family: "Open Sans";
font-size: 0.88rem;
font-weight: 500;
line-height: 1.06rem;
letter-spacing: 0.1em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
font-variation-settings: 'wdth' 80;
  }
  .percentage {
 font-family: "Open Sans";
font-size: 1.7rem;
font-weight: 300;
line-height: 2.04rem;
letter-spacing: -0.02em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
font-variation-settings: 'wdth' 96;
  }
  .disclaimer {
font-family: "Open Sans";
font-size: 0.7rem;
font-weight: 400;
line-height: 1.05rem;
letter-spacing: 0.03em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
font-variation-settings: 'wdth' 85;
margin-top: 4rem;
  }


@media (max-width: 768px) {
.results-section h2 {
    font-size: 26px !important;
    font-style: normal !important;
    width: 132px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-weight: 450 !important;
    line-height: 120% !important;
    margin-bottom: 40px !important;
    margin-top: 0px !important;
}

.results-grid {
    display: block !important;
}

  .percentage {
    font-size: 21.959px !important;
  }
.result p {
    width: calc(100% - 80px) !important;
    text-align: left !important;
    font-size: 12px !important;
    line-height: 1.2 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.percentage {
    width: 53px !important;
}

.collapsible-content__heading {
    font-size: 29.392px !important;
    padding-bottom: 40px !important;
  }
.accordion__title {
    padding-right: 32px !important;
}

.disclaimer {
    font-family: "Open Sans" !important;
    font-size: 12px !important;
    margin-top: 40px !important;
    font-weight: 400 !important;
    text-align: center !important;
    line-height: 1.2 !important;
}

.result {
    display: flex !important;
    width: 280px !important;
    margin-bottom: 15px !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.results-section {
    width: 100% !important;
    text-align: center !important;
    padding: 40px 10px !important;
}

.image-section {
    order: 2 !important;
    width: 100% !important;
}

.results-container {
    display: grid !important;
}

}
</style>
